.icon {
    overflow: hidden;

    background-color: var(--block-icon-bg, var(--p-main-900-25));
    border-radius: 2px;
    color: var(--block-icon-color, var(--p-main-800));

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 auto;

    position: relative;
}
.size-sm {
    width: 32px;
    height: 32px;
}
.size-md {
    width: 40px;
    height: 40px;
}
.size-lg {
    width: 48px;
    height: 48px;
}

.badge {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 4px;
    background-color: var(--p-main-100-75);
    border-top-left-radius: 2px;
}

.tick {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--p-main-900);
}

.size-sm .tick {
    box-shadow: inset 0 0 6px var(--p-main-900);
}
.size-md .tick {
    box-shadow: inset 0 0 10px var(--p-main-900);
}
.size-lg .tick {
    box-shadow: inset 0 0 14px var(--p-main-900);
}
