.tabs {
    list-style: none;
    margin: 0;

    display: flex;
}

.scrollable {
    overflow: auto;
    scrollbar-width: none;
}

.standalone {
    padding: 0 4px;
    height: 48px;
    gap: 8px;
    align-items: center;

    border-radius: 4px;
    border: solid var(--p-main-900);
    border-width: 1px 0;
    background-color: var(--p-main-100-50);
}

.pagetop {
    padding: 0;
    background: linear-gradient(to top, var(--p-main-500), var(--p-main-500) 4px, var(--p-main-100-50) 4px, var(--p-main-100-50));
}

.header {
    flex: 1 1 auto;
}

.standalone .header {
    height: 36px;
    min-width: 50px;
}

.pagetop .header {
    min-width: 50px;
}

.scrollable .header {
    flex: 0 0 auto;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--p-main-800);
    font-size: 18px;
    line-height: 18px;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label:not(:first-child) {
    margin-left: 4px;
}

.standalone .link {
    height: 36px;
    padding: 4px 8px;
}

.pagetop .link {
    padding: 16px 12px 8px;
    border-bottom: 4px solid transparent;
}

.standalone .active {
    background-color: var(--p-main-900-25);
    color: var(--p-main-900);
}

.pagetop .active {
    background: linear-gradient(to bottom, var(--p-main-700-50), var(--p-main-900-25));
    color: var(--p-main-900);

    border-bottom-color: var(--p-main-800);
}
