.button {
    border: 0;
    outline: none;
    cursor: pointer;
    height: 16px;
    padding: 0 8px;
    position: relative;

    clip-path: polygon(
        var(--button-wing-top-left, 0px) 0,
        calc(100% - var(--button-wing-top-right, 0px)) 0,
        calc(100% - var(--button-wing-bottom-right, 0px)) 100%,
        var(--button-wing-bottom-left, 0px) 100%
    );
}

.downLeftWing {
    --button-wing-top-left: 16px;
    padding-left: 24px;
}
.upLeftWing {
    --button-wing-bottom-left: 16px;
    padding-left: 24px;
}
.downRightWing {
    --button-wing-top-right: 16px;
    padding-right: 24px;
}
.upRightWing {
    --button-wing-bottom-right: 16px;
    padding-right: 24px;
}

.downRightWing + .upLeftWing,
.upRightWing + .downLeftWing {
    margin-left: -16px;
}

.disabled {
    background-color: var(--color-neutral-700);
    color: var(--color-neutral-300);
    cursor: not-allowed;
}

.button.loading {
    position: relative;
    /* color: var(--color-text-dim); */
    animation: loading linear infinite 1s;
    cursor: wait;

    background: repeating-linear-gradient(
        135deg,
        var(--button-loading-dark) 0,
        var(--button-loading-dark) 8px,
        var(--button-loading-light) 8px,
        var(--button-loading-light) 16px
    );
    background-size: 45.254834px 45.254834px;
}

@keyframes loading {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 45.254834px;
    }
}

.loader {
    z-index: 1;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--color-neutral-500);
    animation: loader-movement ease-in-out 2s infinite normal;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        top: 0;
    }
    10% {
        opacity: 0.2;
        top: 0;
    }
    50% {
        opacity: 0.2;
        top: calc(100% - 1px);
    }
    60% {
        opacity: 0;
        top: calc(100% - 1px);
    }
    100% {
        opacity: 0;
        top: calc(100% - 1px);
    }
}
