.button {
    border: 0;
    outline: none;
    cursor: pointer;
    height: var(--button-size);
    padding: 0 var(--button-half-size);
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: var(--button-half-size);

    clip-path: polygon(
        var(--button-wing-top-left, 0px) 0,
        calc(100% - var(--button-wing-top-right, 0px)) 0,
        calc(100% - var(--button-wing-bottom-right, 0px)) 100%,
        var(--button-wing-bottom-left, 0px) 100%
    );
}
.button.compact {
    padding: 0 calc(var(--button-half-size) / 2);
}

.downLeftWing {
    --button-wing-top-left: var(--button-size);
    padding-left: calc(var(--button-size) + var(--button-half-size));
}
.upLeftWing {
    --button-wing-bottom-left: var(--button-size);
    padding-left: calc(var(--button-size) + var(--button-half-size));
}
.downRightWing {
    --button-wing-top-right: var(--button-size);
    padding-right: calc(var(--button-size) + var(--button-half-size));
}
.upRightWing {
    --button-wing-bottom-right: var(--button-size);
    padding-right: calc(var(--button-size) + var(--button-half-size));
}

.downRightWing.compact,
.upRightWing.compact {
    padding-right: calc(var(--button-size));
}
.upLeftWing.compact,
.downLeftWing.compact {
    padding-left: calc(var(--button-size));
}

.downRightWing + .upLeftWing,
.upRightWing + .downLeftWing {
    margin-left: calc(-1 * var(--button-size));
}

.square {
    width: var(--button-size);
    padding-left: 0;
    padding-right: 0;
}

.disabled {
    background-color: var(--color-neutral-700);
    color: var(--color-neutral-300);
    cursor: not-allowed;
}

.button.loading {
    position: relative;
    animation: loading linear infinite 1s;
    cursor: wait;

    background: repeating-linear-gradient(
        135deg,
        var(--button-loading-dark) 0,
        var(--button-loading-dark) var(--button-half-size),
        var(--button-loading-light) var(--button-half-size),
        var(--button-loading-light) var(--button-size)
    );
    background-size: var(--button-diagonal-size) var(--button-diagonal-size);
}

@keyframes loading {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: var(--button-diagonal-size);
    }
}

.loader {
    z-index: 1;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: var(--color-neutral-500);
    animation: loader-movement ease-in-out 2s infinite normal;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        top: 0;
    }
    10% {
        opacity: 0.2;
        top: 0;
    }
    50% {
        opacity: 0.2;
        top: calc(100% - 1px);
    }
    60% {
        opacity: 0;
        top: calc(100% - 1px);
    }
    100% {
        opacity: 0;
        top: calc(100% - 1px);
    }
}
