.primary {
    --button-text: var(--p-primary-700);
}
.primary:hover {
    --button-text: var(--p-primary-900);
}
.primary:active {
    --button-text: var(--p-primary-300);
}

.secondary {
    --button-text: var(--p-main-800);
}
.secondary:hover {
    --button-text: var(--p-main-900);
}
.secondary:active {
    --button-text: var(--p-main-700);
}

.accent {
    --button-text: var(--p-secondary-500);
}
.accent:hover {
    --button-text: var(--p-secondary-700);
}
.accent:active {
    --button-text: var(--p-secondary-300);
}

.info {
    --button-text: var(--p-blue-500);
}
.info:hover {
    --button-text: var(--p-blue-700);
}
.info:active {
    --button-text: var(--p-blue-300);
}

.error {
    --button-text: var(--p-red-500);
}
.error:hover {
    --button-text: var(--p-red-700);
}
.error:active {
    --button-text: var(--p-red-300);
}

.success {
    --button-text: var(--p-green-500);
}
.success:hover {
    --button-text: var(--p-green-700);
}
.success:active {
    --button-text: var(--p-green-300);
}

.warn {
    --button-text: var(--p-orange-500);
}
.warn:hover {
    --button-text: var(--p-orange-700);
}
.warn:active {
    --button-text: var(--p-orange-300);
}
