.primary {
    background-color: var(--color-primary);
    color: var(--color-background-dark);

    --button-loading-dark: var(--color-primary);
    --button-loading-light: var(--color-primary-700);
}
.primary:hover {
    background-color: var(--color-primary-700);
}
.primary:active {
    background-color: var(--color-primary-300);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);

    --button-loading-dark: var(--color-secondary);
    --button-loading-light: var(--color-secondary-700);
}
.secondary:hover {
    background-color: var(--color-secondary-700);
    color: var(--color-primary-100);
}
.secondary:active {
    background-color: var(--color-secondary-300);
    color: var(--color-text);
}

.accent {
    background-color: var(--color-accent);
    color: var(--color-text);

    --button-loading-dark: var(--color-accent);
    --button-loading-light: var(--color-accent-700);
}
.accent:hover {
    background-color: var(--color-accent-700);
}
.accent:active {
    background-color: var(--color-accent-300);
}

.info {
    background-color: var(--color-info);
    color: var(--color-text);

    --button-loading-dark: var(--color-info);
    --button-loading-light: var(--color-info-700);
}
.info:hover {
    background-color: var(--color-info-700);
}
.info:active {
    background-color: var(--color-info-300);
}

.error {
    background-color: var(--color-error);
    color: var(--color-text);

    --button-loading-dark: var(--color-error);
    --button-loading-light: var(--color-error-700);
}
.error:hover {
    background-color: var(--color-error-700);
    color: var(--color-text-inverted);
}
.error:active {
    background-color: var(--color-error-300);
    color: var(--color-text);
}

.success {
    background-color: var(--color-success);
    color: var(--color-text);

    --button-loading-dark: var(--color-success);
    --button-loading-light: var(--color-success-700);
}
.success:hover {
    background-color: var(--color-success-700);
    color: var(--color-text-inverted);
}
.success:active {
    background-color: var(--color-success-300);
    color: var(--color-text);
}

.warn {
    background-color: var(--color-warn);
    color: var(--color-text);

    --button-loading-dark: var(--color-warn);
    --button-loading-light: var(--color-warn-700);
}
.warn:hover {
    background-color: var(--color-warn-700);
    color: var(--color-text-inverted);
}
.warn:active {
    background-color: var(--color-warn-300);
    color: var(--color-text);
}
