.carousel {
    position: relative;
}
.inset {
    margin-left: calc(-1 * var(--container-actual-padding-h, 0));
    margin-right: calc(-1 * var(--container-actual-padding-h, 0));
}
.inset .slide {
    padding-left: calc(max(24px, var(--container-actual-padding-h, 0)));
    /* padding-right: var(--container-actual-padding-h, 0); */
}

.icons {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.icon {
    padding: 6px;
    margin: 0;
    color: var(--p-main-700-50);
}
.icon.active {
    color: var(--p-primary-500);
}

.default-icon {
    width: 12px;
    height: 12px;
    background-color: currentColor;
    border-radius: 50%;
}

.scroll-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.slide {
    height: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    padding-left: 24px;

    display: flex;
    align-items: center;
    justify-content: stretch;
}
