.wrapper {
    position: absolute;
    right: 8px;
    width: fit-content;
    height: fit-content;
    top: 8px;

    display: flex;
    flex-flow: column;
    gap: 8px;
}

.button {
    display: block;
    border: 0px none;
    outline: none;
    border-radius: 2px;
    padding: 2px;

    background: var(--p-main-900-25);
    color: var(--p-main-800);
    box-shadow: inset 0 0 16px var(--p-main-900-25);
}
.button.active {
    color: var(--p-primary-500);
}
