.labeled {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

.labels {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.label {
    flex: 1 1 auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.secondLine.alignRight {
    text-align: right;
}

.cat-unknown {
    --block-icon-bg: var(--p-secondary-500-25);
    --block-icon-color: var(--p-secondary-900);
}
.cat-construction {
    --block-icon-bg: #adc2d260;
    --block-icon-color: #adc2d2;
}
.cat-crops {
    --block-icon-bg: #8bd36a60;
    --block-icon-color: #8bd36a;
}
.cat-gases {
    --block-icon-bg: #73dab960;
    --block-icon-color: #73dab9;
}
.cat-liquids {
    --block-icon-bg: #8391d160;
    --block-icon-color: #8391d1;
}
.cat-metals {
    --block-icon-bg: #d5d4ce60;
    --block-icon-color: #d5d4ce;
}
.cat-minerals {
    --block-icon-bg: #da977360;
    --block-icon-color: #da9773;
}
.cat-machinery {
    --block-icon-bg: #405c7260;
    --block-icon-color: #6ba6d2;
}
