.main {
    padding: 2px 0;
}

.icon {
    width: 64px;
    height: 64px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    box-shadow: inset 0 0 16px var(--p-main-900-25);
}

.top-line {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 4px;
    gap: 8px;
}

.name {
    flex: 1 1 auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.build {
    flex: 0 0 auto;
    max-width: 100px;
}

.badges {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-left: -6px;
    margin-top: auto;
}

.help {
    margin-left: auto;
}

.cost {
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;

    overflow: auto;

    display: none;
    flex-flow: row wrap;
    gap: 8px 12px;
}

.material {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 50%;
}

.expanded .cost {
    display: flex;
}
