:root {
    --p-main-100-50: #16162A80;
    --p-main-100-75: #16162Abf;
    --p-main-100: #16162A;
    --p-main-200: #21213C;
    --p-main-300-50: #33335880;
    --p-main-300-75: #333358bf;
    --p-main-300: #333358;
    --p-main-400: #464673;
    --p-main-500-35: #59598A59;
    --p-main-500: #59598A;
    --p-main-600: #6F6F9F;
    --p-main-700-25: #8989B840;
    --p-main-700-50: #8989B880;
    --p-main-700: #8989B8;
    --p-main-800: #ACACD8;
    --p-main-900-10: #D4D4F91A;
    --p-main-900-25: #D4D4F940;
    --p-main-900: #D4D4F9;
    --p-primary-100: #2F2100;
    --p-primary-200: #765200;
    --p-primary-300: #AC7903;
    --p-primary-400: #D79807;
    --p-primary-500-25: #F7B21240;
    --p-primary-500-50: #F7B21280;
    --p-primary-500: #F7B212;
    --p-primary-600: #FCBD2C;
    --p-primary-700: #FFCC55;
    --p-primary-800: #FFD779;
    --p-primary-900: #FFE3A1;
    --p-secondary-100: #1C102D;
    --p-secondary-200: #2C1948;
    --p-secondary-300: #3B2261;
    --p-secondary-400: #4D2C7E;
    --p-secondary-500-25: #5B349540;
    --p-secondary-500: #5B3495;
    --p-secondary-600: #7147B0;
    --p-secondary-700: #895ECA;
    --p-secondary-800: #A378E5;
    --p-secondary-900: #BF94FF;
    --p-red-100: #290B0A;
    --p-red-200: #4E1614;
    --p-red-300-75: #792421bf;
    --p-red-300: #792421;
    --p-red-400: #AC3531;
    --p-red-500-25: #CE413C40;
    --p-red-500-50: #CE413C80;
    --p-red-500: #CE413C;
    --p-red-600: #E74E48;
    --p-red-700: #F5635E;
    --p-red-800: #FB7D78;
    --p-red-900: #FF9692;
    --p-green-100: #02210B;
    --p-green-200: #044015;
    --p-green-300-75: #086924bf;
    --p-green-300: #086924;
    --p-green-400: #0F9535;
    --p-green-500-25: #18B04440;
    --p-green-500: #18B044;
    --p-green-600: #27CB56;
    --p-green-700: #48E675;
    --p-green-800: #70F897;
    --p-green-900: #A1FFBC;
    --p-orange-100: #341A00;
    --p-orange-200: #773A00;
    --p-orange-300: #B05703;
    --p-orange-400: #D56D0A;
    --p-orange-500-25: #F17E1240;
    --p-orange-500: #F17E12;
    --p-orange-600: #F9891F;
    --p-orange-700: #FB9A3F;
    --p-orange-800: #FDAB5D;
    --p-orange-900: #FFC085;
    --p-blue-100: #040832;
    --p-blue-200: #080E58;
    --p-blue-300: #101A87;
    --p-blue-400: #1C28AD;
    --p-blue-500-25: #2D3BD140;
    --p-blue-500: #2D3BD1;
    --p-blue-600: #4351E8;
    --p-blue-700: #616DF3;
    --p-blue-800: #808AF9;
    --p-blue-900: #9CA4FF;
    --p-neutral-100: #131313;
    --p-neutral-200: #1E1E1E;
    --p-neutral-300: #313131;
    --p-neutral-400: #4F4F4F;
    --p-neutral-500: #6D6D6D;
    --p-neutral-600: #8D8D8D;
    --p-neutral-700: #AEAEAE;
    --p-neutral-800: #D4D4D4;
    --p-neutral-900: #FAFAFA;
}
