.scroller {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.pane {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
