.card {
    padding: 8px 12px;
    --container-actual-padding-h: 12px;

    border-radius: 12px 8px;
    /* background: linear-gradient(to right, var(--p-main-900-35), var(--p-main-900-25) 16px, var(--p-main-900-10) 60%, transparent); */
    background-color: var(--p-main-500-75);
    box-shadow: inset 0 0 4px var(--p-main-900-35), 0 0 8px var(--p-main-900-35), 0 0 16px var(--p-main-900-10);
}

.card.no-padding {
    padding: 0;
    --container-actual-padding-h: 0;
}
