.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;
    margin-top: 4px;

    margin-left: calc(-1 * var(--container-actual-padding-h));
    margin-right: calc(-1 * var(--container-actual-padding-h));
}
.header:not(:first-child) {
    margin-top: 12px;
}

.iconWrapper {
    align-self: flex-start;
}
.iconWrapper > svg {
    float: left;
}
.iconText {
    margin-left: 4px;

    font-size: 16px;
    line-height: 20px;
}

.actions {
    display: flex;
    gap: 8px;
}
.actions.push-right {
    margin-left: auto;
}
