.wrapper {
    border-bottom: 2px solid var(--color-border);
    background-color: var(--color-background-dark);
}

.wrapper:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-background-light);
}

.input {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;

    color: var(--color-text);

    padding: 2px 4px;
    width: 100%;
}
.input:focus {
    color: var(--color-text-selected);
}
