.wrapper {
    background-color: var(--p-main-100-75);

    display: flex;
    align-items: center;

    height: 36px;
    width: 100%;
    padding: 0 8px;

    position: relative;

}
.wrapper.error {
    box-shadow: inset 0 0 8px var(--p-red-500);
}
.wrapper.success {
    box-shadow: inset 0 0 8px var(--p-red-500);
}
.wrapper:focus-within {
    box-shadow: inset 0 0 4px var(--p-main-700);
}
.wrapper.disabled {
    background-color: var(--p-main-100-50);
}

.wrapper.no-left-padding {
    padding-left: 0;
}

.label {
    font-weight: 500;
    font-variation-settings: "wght" 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;

    flex: 0 0 auto;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    padding: 11px 6px 11px 2px;
    cursor: help;
    flex: 0 0 auto;
}
.icon.icon-lock {
    cursor: default;
}
.icon-placeholder {
    flex: 0 0 auto;
    width: 22px;
}

.controls {
    flex: 0 0 auto;
    margin-left: 4px;
}

.prefix, .suffix {
    flex: 0 0 auto;

    font-size: 18px;
    line-height: 24px;
    color: var(--p-main-900);
}

.input {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;

    font-size: 18px;
    line-height: 24px;
    color: var(--p-main-900);
    flex: 1 1 auto;
    min-width: 0;

    text-align: right;
}
.input::placeholder {
    color: var(--p-main-700);
}

.hint {
    position: absolute;
    top: calc(100% - 6px);
    right: 4px;
    padding: 2px 6px;
    z-index: 1;

    color: var(--p-main-900);
    background-color: var(--p-main-300-75);

    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    font-variation-settings: "wght" 500;
}
.hint.error {
    color: var(--p-red-900);
    background-color: var(--p-red-300-75);
}
.hint.success {
    color: var(--p-green-900);
    background-color: var(--p-green-300-75);
}
