.viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: move;
}
.fills {
    width: 100%;
    height: 100%;
}
.scaleable {
    /* ... */
}

.content {
    width: max-content;
    height: max-content;

    transform-origin: top left;
    transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .content {
        transition: none;
    }
}
