.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.info {
    color: var(--color-info);
}

.error {
    color: var(--color-error);
}

.success {
    color: var(--color-success);
}

.dim {
    color: var(--color-text-dim);
}

.dim.inverted {
    color: var(--color-text-dim-inverted);
}

.default {
    color: var(--color-text);
}

.default.inverted {
    color: var(--color-text-inverted);
}
