.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.info {
    color: var(--color-info);
}

.error {
    color: var(--color-error);
}

.success {
    color: var(--color-success);
}

.warn {
    color: var(--color-warn);
}

.accent {
    color: var(--color-accent);
}

.dim {
    color: var(--color-text-dim);
}

.bright {
    color: var(--p-main-900);
}

.dim.inverted {
    color: var(--color-text-dim-inverted);
}

.default {
    color: var(--color-text);
}

.default.inverted {
    color: var(--color-text-inverted);
}
