.group {
    display: block;
}

.top {
    border-radius: 8px 8px 0 0;
    border-top: 2px solid var(--p-main-800);
    background: linear-gradient(to bottom, var(--p-main-900-25), transparent);
    height: 16px;
    margin-bottom: -8px;
}
.bottom {
    border-radius: 0 0 8px 8px;
    border-bottom: 2px solid var(--p-main-800);
    background: linear-gradient(to top, var(--p-main-900-25), transparent);
    height: 16px;
    margin-top: -8px;
}

.content {
    padding: 0 8px;
}

.header {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
}
