.icon {
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;

    /* for temp icons */
    font-size: 10px;
    line-height: 14px;
    font-variation-settings: "wght" 600;
}

.icon.hint, .icon.lock {
    background-color: var(--p-main-500);
    border-color: var(--p-main-700);
}
.icon.error {
    background-color: var(--p-red-500);
    border-color: var(--p-red-700);
}
.icon.success {
    background-color: var(--p-green-500);
    border-color: var(--p-green-700);
}
