.card {
    border: 0 solid var(--p-main-900);
    border-width: 0 1px;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: var(--p-main-300-50);
    box-shadow: inset 0 0 16px var(--p-main-900-25);

    overflow: hidden;
    min-width: 80px;
}

.card.selectable {
    background-color: var(--p-main-900-25);
    color: var(--p-main-900);
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
}

.title :first-child {
    margin-right: 4px;
}

.title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subtitle {
    display: block;
}

