.panel {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.bar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
}

.title {
    flex: 1 1 auto;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
}

.empty-message {
    margin: auto;
    margin-top: 10%;
    width: max-content;
    padding: 32px 64px;
    border-radius: 16px;
    background-color: var(--color-background-dark);
}
