.form {
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;

    transition: all 300ms ease-in-out;
}

.overlay-loading {
    composes: overlay;

    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;

    cursor: wait;

    background: repeating-linear-gradient(
        135deg,
        var(--color-info) 0,
        var(--color-info) 8px,
        transparent 8px,
        transparent 16px
    );
    background-size: 45.254834px 45.254834px;

    animation: moving-stripes 1s linear infinite;
}
.overlay-loading.overlay-visible {
    opacity: 0.5;
    right: -1px;
}

.overlay-error {
    composes: overlay;

    opacity: 0;
    top: -100%;
    left: 0;
    right: 0;

    background: var(--p-red-300-75);
    box-shadow: inset 0 0 32px var(--p-red-500);

    padding: 8px 16px;
    color: var(--p-red-900);
}
.overlay-error.overlay-visible {
    top: 0;
    opacity: 1;
}

@keyframes moving-stripes {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 45.254834px;
    }
}

