.button {
    border: 0;
    outline: none;
    cursor: pointer;
    user-select: none;
    background: none;

    text-transform: capitalize;
    font-variant: small-caps;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: relative;

    display: inline-flex;
    gap: 4px;
    align-items: center;
}

.solid {
    background: radial-gradient(at center 85%, var(--button-bg), transparent);
    box-shadow: inset 0 0 8px var(--button-bg);
    border: solid var(--button-border);
    border-width: 1px 3px;
    color: var(--button-text);

    font-weight: 500;
    font-variation-settings: "wght" 500;
}
.text {
    border: 1px solid transparent;
    color: var(--button-text);

    font-weight: 600;
    font-variation-settings: "wght" 600;
    letter-spacing: 1px;
}
.light {
    background: radial-gradient(at center, var(--button-bg), var(--button-border));
    box-shadow: 0 0 8px var(--button-shadow);
    border-radius: 2px;
    /* border: 1px solid var(--button-border); */

    color: var(--button-text);
    font-weight: 600;
    font-variation-settings: "wght" 600;
    letter-spacing: 1px;
}

.button.disabled {
    cursor: default;
}

.solid.disabled {
    --button-bg: transparent;
    --button-border: var(--p-main-700);
    --button-text: var(--p-main-700);
}
.light.disabled {
    --button-bg: transparent;
    --button-border: transparent;
    --button-text: var(--p-main-700);
    --button-shadow: transparent;
    outline: 1px solid var(--p-main-300-50);
}

.s {
    height: 28px;
}
.s.square {
    width: 28px;
}

.m {
    height: 36px;
    padding: 10px 16px;

    font-size: 16px;
    line-height: 16px;
}
.m.square {
    width: 36px;
    padding: 0;
}

.l {
    height: 48px;
    padding: 12px 18px;

    font-size: 24px;
    line-height: 24px;
}
.l.square {
    width: 48px;
    padding: 0;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.loading {
    position: relative;
    animation: solid-loading linear infinite 0.5s alternate;
    cursor: wait;
}

.button:not(.square) > svg:first-child {
    margin-left: -8px;
}
.button:not(.square) > svg:last-child {
    margin-right: -8px;
}

@keyframes solid-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.loader {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--button-border);
    animation: loader-movement ease-in-out 1.6s infinite normal;
}

@keyframes loader-movement {
    0% {
        left: 100%;
        width: 4px;
        opacity: 0.1;
    }
    90% {
        left: 0;
        width: 1px;
        opacity: 0.75;
    }
}
