.page {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
}

.header {
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
}

.content.stretch > * {
    height: 100%;
}
