.display {
    padding: 32px 16px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0;
    margin-bottom: 12px;
}
.title.align-start {
    justify-content: flex-start;
}

.title-text {
    font-size: 24px;
    line-height: 28px;
}

.text {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-variation-settings: "wght" 300;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}
