.list {
    list-style: none;
    padding: 8px 0;
    margin: 0;
}
.list.inset {
    margin-left: calc(-1 * var(--container-actual-padding-h));
    margin-right: calc(-1 * var(--container-actual-padding-h));
    /* width: calc(100% + 2 * var(--container-actual-padding-h)); */
}

.item {
    border: solid transparent;
    border-width: 0 2px;
}

.inset .item {
    padding-left: var(--container-actual-padding-h);
    padding-right: var(--container-actual-padding-h);
}

.striped > .item:nth-child(2n) {
    background-color: var(--p-main-900-10);
}

.selected {
    border-color: var(--p-primary-500);
    background-color: var(--p-main-900-25);
}

.striped > .item:nth-child(2n).selected {
    background-color: var(--p-main-900-35);
}

.clickable {
    cursor: pointer;
}

.paddingH {
    padding-left: 4px;
    padding-right: 4px;
}

.paddingV {
    padding-top: 4px;
    padding-bottom: 4px;
}

.paddingBoth {
    composes: paddingV paddingH;
}

.content {
    display: flex;
}
.icon-wrapper {
    flex: 0 0 32px;
    text-align: center;
    align-content: center;
    margin-right: 8px;
}
.content-main {
    overflow: hidden;
    flex: 1 1 auto;
}
.content-title, .content-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selected .content-title {
    color: var(--p-primary-500);
}
