.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.middle {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

.main {
    flex: 1 1 auto;
    position: relative;
    display: flex;
}

.nav {
    flex: 0 0 auto;
}
