.wrapper {
    width: 100%;
}
.wrapper.inset {
    margin-left: calc(-1 * var(--container-actual-padding-h));
    margin-right: calc(-1 * var(--container-actual-padding-h));
    width: calc(100% + 2 * var(--container-actual-padding-h));
}

.has-scroll {
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.header-row {
    position: sticky;
    top: 0;
}
.header-cell {
    composes: cell;

    background-color: var(--p-main-300);
    color: var(--p-main-800);
    text-align: left;

    font-weight: 500;
    font-variation-settings: "wght" 500;
    letter-spacing: 0.05em;
}
.stick-left .header-cell:first-child,
.stick-right .header-cell:last-child {
    background-color: var(--p-main-500);
    border-left: none;
    color: var(--p-main-900);
}
.stick-left .header-cell:first-child {
    box-shadow: 4px 0 4px var(--p-main-700-25)
}
.stick-right .header-cell:last-child {
    box-shadow: -4px 0 4px var(--p-main-700-25)
}

.default-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-cell-text {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cell {
    padding: 4px 8px;

    font-size: 16px;
    line-height: 20px;

    background-clip: padding-box;
    border: 0 none;

    overflow: hidden;
    text-overflow: ellipsis;
}
.cell + .cell {
    border-left: 2px solid transparent;
}
.cell.no-padding {
    padding: 0;
}
.stick-right .cell.no-padding:last-child {
    padding-right: var(--container-actual-padding-h);
}

.inset .cell:first-child {
    padding-left: var(--container-actual-padding-h);
}
.inset .cell:last-child {
    padding-right: var(--container-actual-padding-h);
}
.stick-left .cell:first-child {
    position: sticky;
    left: 0;
}
.stick-left td.cell:first-child {
    background: fixed url('../../components/App/bg.svg');
    border-bottom: 1px solid var(--p-main-700);
    box-shadow: 4px 0 4px var(--p-main-700-25), inset 0 0 1000px var(--p-main-100-50);
}
.stick-right .cell:last-child {
    position: sticky;
    right: 0;
}
.stick-right td.cell:last-child {
    background: fixed url('../../components/App/bg.svg');
    box-shadow: -4px 0 4px var(--p-main-700-25), inset 0 0 1000px var(--p-main-100-50);
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.data-cell {
    composes: cell;

    border-bottom: 1px solid var(--p-main-500);
    color: var(--p-main-800);
}

.data-row:hover, .data-row:active {
    background-color: var(--p-main-100);
}

.emptyBanner {
    padding: 32px 16px;
    text-align: center;
}

.cell-link {
    display: block;
    margin: -4px -8px;
    padding: 4px 8px;
    height: 100%;

    text-decoration: none;
    color: unset;
}
.no-padding > .cell-link {
    margin: 0;
    padding: 0;
}
