.table {
    width: 100%;
    border-collapse: collapse;
}

.cell {
    padding: 4px 8px;

    font-size: 16px;
    line-height: 20px;

    background-clip: padding-box;
}

.inset .cell:first-child {
    padding-left: 16px;
}
.inset .cell:last-child {
    padding-right: 16px;
}

.cell + .cell {
    border-left: 2px solid transparent;
}

.header-cell {
    composes: cell;

    background-color: var(--p-main-500);
    color: var(--p-main-900);
    text-align: left;

    font-weight: 500;
    font-variation-settings: "wght" 500;
    letter-spacing: 0.05em;
}

.data-cell {
    composes: cell;

    border-bottom: 1px solid var(--p-main-500);
}

.data-row:hover, .data-row:active {
    background-color: var(--p-main-600);
}

.emptyBanner {
    padding: 32px 16px;
    text-align: center;
}
