.layout {
    position: relative;
}

.height-s {
    --curtain-size: calc(64px + var(--content-padding-bottom));
}
.height-m {
    --curtain-size: calc(256px + var(--content-padding-bottom));
}
.height-l {
    --curtain-size: calc(512px + var(--content-padding-bottom));
}

.handle {
    position: absolute;
    bottom: calc(100% + 8px);
    width: 0;
    right: 12px;
    display: flex;
    justify-content: right;
    overflow: visible;
}

.tabs {
    position: absolute;
    bottom: calc(100%);
    left: 12px;
    right: 64px;
    overflow: visible;
}
.tabs-container {
    display: flex;
    gap: 4px;
}
.tab {
    padding: 4px 12px;
    border: 0 solid var(--p-main-700);
    border-top-width: 1px;
    border-bottom-width: 2px;
    background: var(--p-main-300-50);
    display: block;
    color: var(--p-main-800);
    box-shadow: inset 0 -4px 12px var(--p-main-900-25);
}
.tab.active {
    background: var(--p-main-300-75);
    border-top-color: var(--p-main-900);
    border-bottom-color: var(--p-primary-500);
    color: var(--p-main-900);
}

.static {
    flex: 1 1 auto;
}

.placeholder {
    flex: 0 0 auto;
    position: relative;
    height: var(--curtain-size);
    transition: height 0.5s ease-in-out;

    border-top: 2px solid var(--p-main-700);
}

.curtain {
    position: absolute;
    inset: 0;
    top: -2px;
    transition: top 0.5s ease-in-out;

    background: url('../../../components/App/bg.svg');
    background-attachment: fixed;
    border-top: 2px solid var(--p-main-700);
    box-shadow: inset 0 0 64px var(--p-main-500-35);
}
.curtain.expanded {
    top: calc(128px - 100dvh + 100%);
}

.content {
    overflow: auto;
    max-height: 100%;

    padding-bottom: var(--content-padding-bottom);
}
