.bold {
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
