.actions {
    display: flex;
    flex-wrap: wrap;

    margin-top: 12px;
}

.actions.right {
    justify-content: flex-end;
}
.actions.center {
    justify-content: center;
}

.actions > * {
    margin-left: 6px;
}
