.group {
    display: block;
}

.default {
    --group-border-color: var(--p-main-800);
    --group-light-color: var(--p-main-900-25);
    --group-border-width: 2px;
}

.bleak {
    --group-border-color: var(--p-main-700);
    --group-light-color: var(--p-main-700-25);
    --group-border-width: 1px;
}

.top {
    border-radius: 8px 8px 0 0;
    border-top: var(--group-border-width) solid var(--group-border-color);
    background: linear-gradient(to bottom, var(--group-light-color), transparent);
    height: 16px;
    margin-bottom: -8px;
}
.bottom {
    border-radius: 0 0 8px 8px;
    border-bottom: var(--group-border-width) solid var(--group-border-color);
    background: linear-gradient(to top, var(--group-light-color), transparent);
    height: 16px;
    margin-top: -8px;
}

.content-padding-h {
    padding-left: 8px;
    padding-right: 8px;

    --container-actual-padding-h: 8px;
}
.content-padding-v {
    padding-top: 8px;
    padding-bottom: 8px;

    --container-actual-padding-v: 8px;
}
.content-padding-both {
    composes: content-padding-v content-padding-h;
}

.header {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
    overflow: hidden;
}

.header-padding-h {
    padding-left: 8px;
    padding-right: 8px;
}
.header-padding-v {
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-padding-both {
    composes: header-padding-v header-padding-h;
}
